<div class="wrapper">
    <div class="page-header section-dark" style="background-color: #121212;">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <div class="angular-logo">
                        <img src="../../assets/img/LOGOS/LOGO LAS VARDA 4.1.png" alt="" width="300px" height="350px">
                        <h2 class="presentation-subtitle text-center">Productora Audiovisual <br>
                            Cine | Publicidad | Videoclips | Moda<br>
                            Creamos contenido audiovisual en espacios seguros.</h2>
                    </div>

                </div>


            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>

    </div>

    <div class="main">
        <app-typography></app-typography>
        
        <div class="section crew" style="background-color: black;" >
            <app-crew></app-crew>
        </div>
        <div class="section what-we-do" style="background-color: black;"  >
            <app-what-we-do></app-what-we-do>
        </div>
       
    </div>
</div>