<div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="39px grid">
    <div fxLayoutAlign="center center" fxFlex="33.33" class="section-card">

        <a href="#" class="rainbow-button cine " alt="CINE"></a>

    </div>
    <div fxLayoutAlign="center center" fxFlex="33.33" class="section-card">
        <a href="#" class="rainbow-button fashion" alt="FASHION FILM"></a>

    </div>
    <div fxLayoutAlign="center center" fxFlex="33.33" class="section-card">
        <a href="#" class="rainbow-button photoshoot" alt="PHOTOSHOOT"></a>
       
    </div>
    <div fxLayoutAlign="center center" fxFlex="50" class="section-card">
        <a href="#" class="rainbow-button publicidad" alt="PUBLICIDAD"></a>
       
    </div>
    <div fxLayoutAlign="center center" fxFlex="50" class="section-card">
        <a href="#" class="rainbow-button videoclip" alt="VIDEOCLIP"></a>
       
    </div>

</div>



<!-- <div fxLayout="row wrap">
    <div fxFlex="33.33333" fxLayoutAlign="center center" class="product-card">
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Fotografía profesional de moda</mat-card-title>
              
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>LIKE</button>
               
            </mat-card-actions>
        </mat-card>
    </div>
    <div fxFlex="33.33333" fxLayoutAlign="center center" class="product-card">
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Fotografía profesional de moda</mat-card-title>
              
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>LIKE</button>
               
            </mat-card-actions>
        </mat-card>
    </div>
    <div fxFlex="33.33333" fxLayoutAlign="center center" class="product-card">
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title> Fashion film</mat-card-title>
              
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>LIKE</button>
               
            </mat-card-actions>
        </mat-card>
    </div>
    <div fxFlex="33.33333" fxLayoutAlign="center center" class="product-card">
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Fotografía profesional de moda</mat-card-title>
              
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>LIKE</button>
               
            </mat-card-actions>
        </mat-card>
    </div>
    <div fxFlex="33.33333" fxLayoutAlign="center center" class="product-card">
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Fotografía profesional de moda</mat-card-title>
              
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>LIKE</button>
               
            </mat-card-actions>
        </mat-card>
    </div>
  
    <div fxFlex="33.33333" fxLayoutAlign="center center">
        Fotografía profesional de producto
    </div>
    <div fxFlex="50" fxLayoutAlign="center center">
        Videos publicitarios
    </div>
    <div fxFlex="50" fxLayoutAlign="center center">
        Contenido audiovisual para redes
    </div>
</div> -->