.product-card{
    padding: 30px;
}
.mat-card-header{
    height: 40px;
}
.mat-card-image {
    width: calc(100% + 32px);
    margin: 0 -16px 16px -16px;
    padding: 0px 45px 10px 45px;
}
.section-item{
    border: 2px solid black;
    width: 80%;
    height: 90%;
    text-align: center;
    padding: 22px;
    border-radius: 15px;
}

body {
  margin:0;
  background-color:#191919;
  min-height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
  font-family:Helvetica,Sans-serif;
}
a {
    
  text-decoration:none;
  color:white;
}
.rainbow-button {
  width:calc(25vw + 5px);
  height:calc(8vw + 5px);
  background-image: linear-gradient(90deg, #006eff 0%, #FFCF00 49%, #FC4F4F 80%, #006eff 100%);
  border-radius:5px;
  display:flex;
  align-items:center;
  justify-content:center;
  text-transform:uppercase;
  font-size:2vw;
  font-weight:bold;
}
.rainbow-button:after {
  content:attr(alt);
  width:25vw;
  height:8vw;
  
  background-size:     cover;
  display:flex;
  align-items:center;
  justify-content:center;
}
.cine:after{
    background-image:url('../../../assets/img//SECCION_ITEMS/KPortra21.jpg');
    opacity: 0.7;
}
.fashion:after{
    background-image:url('../../../assets/img//SECCION_ITEMS/KPortra08.jpg');
    opacity: 0.7;
}
.photoshoot:after{
    background-image:url('../../../assets/img//SECCION_ITEMS/KPortra16.jpg');
    opacity: 0.7;
}
.publicidad:after{
    background-image:url('../../../assets/img//SECCION_ITEMS/KPortra36.jpg');
    opacity: 0.7;
}
.videoclip:after{
    background-image:url('../../../assets/img//SECCION_ITEMS/KPortra38.jpg');
    opacity: 0.7;
}
.rainbow-button:hover {
  animation:slidebg 2s linear infinite;
}

@keyframes slidebg {
  to {
    background-position:20vw;
  }
}