
@import "~swiper/swiper";
@import "~swiper/components/pagination/pagination";
.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.desc-text {
  padding: 0px 28px 0px 28px; 
  font-size: 20px;
  text-align: center;
}
.title-sec{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}

  .important-text{
    font-weight: 500;
    font-size: 30px;
    text-align: center;
  }

  .container-gallery{
    height: 500px;
    background-color: black ;
  }
  .products{
    font-size: 20px;
    font-weight: 700;
    color: #547e3f;
  }
  
  