<!-- <div class="section">
    <div class="container-gallery">
        <swiper [slidesPerView]="4" [spaceBetween]="30" [centeredSlides]="true" [pagination]="{
          clickable: true
        }" class="mySwiper">
            <ng-template swiperSlide>
                <img class="d-block w-100" [src]="this.groupPhotos[1].currentUrl" alt="First slide" height="400px">
            </ng-template>
            <ng-template swiperSlide>
                <img class="d-block w-100" [src]="this.groupPhotos[2].currentUrl" alt="Second slide" height="400px">
            </ng-template>
            <ng-template swiperSlide>
                <img class="d-block w-100" [src]="this.groupPhotos[3].currentUrl" alt="Third slide" height="400px">
            </ng-template>
            <ng-template swiperSlide>
                <img class="d-block w-100" [src]="this.groupPhotos[4].currentUrl" alt="Fourth slide" height="400px">
            </ng-template>
        </swiper>
    </div>

</div> -->
<div class="section">
    <div fxLayout="row wrap">
        <div fxFlex="100" fxLayout="row wrap">
            <div fxFlex="70" fxLayout="row wrap">
                <div class="title-sec" fxFlex="100">
                    ¿Quienes somos?
                </div>
                <div class="desc-text" fxFlex="100">
                    Somos una productora audiovisual independiente enfocada en la creación de contenido cinematográfico,
                    publicidad, videoclips y moda.
                  
                </div>
                <div class="important-text" fxFlex="100">
                    Equipa creativa y multidisciplinaria 
                </div>
                <div class="desc-text" fxFlex="100">
                    <span>Nuestro objetivo</span> es desarrollar proyectos con miradas
                    femeninas mientras vivimos experiencias personales, agradables y sororas.
                    Creamos espacios seguros; hacemos arte desde nuestras trincheras.
                </div>
              
                
            </div>
            <div fxFlex="30">
                <img class="d-block w-100" [src]="this.groupPhotos[1].currentUrl" alt="First slide"
               >
            </div>
           
        </div>
      

    </div>
</div>

