
.crew{
  background-color: black;
}
.name{
  height: 20%;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  color: #DFF8EB;
  padding: 19px;
}
.member{
  text-align: center;
}
.desc-member{
  padding: 15px;
  height: 100px;
  color: white;
}
.img-member{
  height: 50%;
}



.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.img-member:hover .image {
  opacity: 0.3;
}

.img-member:hover .middle {
  opacity: 1;
}
