
<div class="section crew">
    <div fxLayout="row wrap"  fxLayoutAlign=" center center">
        <div fxFlex="25"  fxLayout="row wrap" class="member">
            <div fxFlex="100" class="name">
                Gabriela Giacometti
            </div>
            <div fxFlex="100" fxLayoutAlign="space-around center" class="img-member">
                <img height="300px" [src]="this.photosData[0].currentUrl" class="img-rounded "
                alt="Rounded Image" (mouseover)="onMouseOver(this.photosData[0].id)"
                (mouseout)="onMouseOut(this.photosData[0].id)">
                <div class="middle">
                    <div class="text">John Doe</div>
                  </div>
            </div>
            <div fxFlex="100" fxLayoutAlign="space-around center" class="desc-member">
                Directora de fotografía, montajista audiovisual y colorista. Realizadora integral en artes
                audiovisuales y tecnóloga en fotografía y sonido.
            </div>
        </div>
       
        <div fxFlex="25"  fxLayout="row wrap" class="member">
            <div fxFlex="100" class="name">
                Anais Delgado
            </div>
            <div fxFlex="100" fxLayoutAlign="space-around center" class="img-member">
                <img height="300px" [src]="this.photosData[1].currentUrl" class="img-rounded "
                alt="Rounded Image" (mouseover)="onMouseOver(this.photosData[1].id)"
                (mouseout)="onMouseOut(this.photosData[1].id)">
            </div>
            <div fxFlex="100" fxLayoutAlign="space-around center" class="desc-member">
                Realizadora audiovisual, actriz, directora de arte y guionista.
            </div>
        </div>
        <div fxFlex="25"  fxLayout="row wrap" class="member">
            <div fxFlex="100" class="name">
                Micaela Andino
            </div>
            <div fxFlex="100" fxLayoutAlign="space-around center" class="img-member">
                <img height="300px" [src]="this.photosData[2].currentUrl" class="img-rounded "
                            alt="Rounded Image" (mouseover)="onMouseOver(this.photosData[2].id)"
                            (mouseout)="onMouseOut(this.photosData[2].id)">
            </div>
            <div fxFlex="100" fxLayoutAlign="space-around center" class="desc-member">
                Fotógrafa y Sonidista para medios audiovisuales, cuenta con experiencia en sonido directo,
                postproducción de sonido y diseño sonoro para publicidad, cortometrajes de ficción y documental.
            </div>
        </div>
        <div fxFlex="25"  fxLayout="row wrap" class="member">
            <div fxFlex="100" class="name">
                Vanessa Espinosa
            </div>
            <div fxFlex="100" fxLayoutAlign="space-around center" class="img-member">
                <img height="300px" [src]="this.photosData[3].currentUrl" class="img-rounded "
                alt="Rounded Image" (mouseover)="onMouseOver(this.photosData[3].id)"
                (mouseout)="onMouseOut(this.photosData[3].id)">
            </div>
            <div fxFlex="100" fxLayoutAlign="space-around center" class="desc-member">
                Guionista, productora, directora actriz, modelo, actriz de voz, Licenciada en Comunicación
                        Social, Tecnóloga en realización y actualización de Cine.
            </div>
        </div>
    </div>

</div>